---
layout: default
title: Home
subtitle: Decentralized digital identity platform
description: Decentralized digital identity platform
featured_image: /assets/img/home-background/home-background.jpg
---

<header class="header-2 fullWidth bg-primary">
  <div class="page-header page-header-small" style="min-height: 60vh">
    <div class="container">
      <div class="row align-items-center text-left">
        <div class="col-lg-6 col-12">
          <h3 class="display-2" style="color: #B1C9F9; margin-bottom: 0;">idemeum</h3>
          <h4 class="display-4" style="color: #FFFFFF; margin-bottom: 0;">Digital identity for the online world</h4>
          <p class="lead" style="color: white;">We are on a mission to make digital identity simple, secure, and private.</p>
          <div class="row row-input">
            <div class="col-sm-12 col-12">
              <a href="/contact"><button type="submit" class="btn btn-icon btn-success btn-sm">
                <span class="btn-inner--icon"><i class="ni ni-mobile-button"></i></span>
                <span class="btn-inner--text">Get a demo</span>
              </button></a>
              <a href="/docs"><button type="submit" class="btn btn-outline-white btn-sm">
                <span class="btn-inner--text">Docs</span>
              </button></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12 pl-0">
          <img class="ml-lg-5" src="{{ '/assets/img/home-background/home-background.png' | relative_url }}" width="100%">
        </div>
      </div>
    </div>
  </div>
</header>



{% include /landing-page/decentralized.html %}
{% include /landing-page/verified.html %}
{% include /landing-page/mobile.html %}
{% include /landing-page/setup.html %}
{% include /landing-page/demo-request.html %}





  <script>
  	var ps_config = {
  		productId : "42cffa40-c396-47c7-b040-66d1d061b008"
  	};
  </script>
  <script type="text/javascript" src="https://app.productstash.io/js/productstash-embed.js" defer="defer"></script>
