<script src="/assets/js/typeit.min.js"></script>

<header class="header-2 skew-separator">
  <div class="page-header bg-primary" >
    <div class="page-header-image" style="background-image: url('{{ '/assets/img/home-background/component11.png' | relative_url }}')"></div>
    <div class="container pt-200">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">

          <p id="myElement" class=" text-white mb-4" style="letter-spacing: 0.2em; font-size: 1.6275rem;"></p>

          <script>
            new TypeIt("#myElement", {
              speed: 100,
              startDelay: 900,
              loop: true
              })
                .type("Login with ", {delay: 200})
                .type("<strong><i>one-click</i></strong>", {delay: 1500})
                .delete(9, {speed: 150, delay: 200} )
                .type("<strong><i>biometrics</i></strong>",{delay: 1500})
                .delete(10, {speed: 150, delay: 200})
                .type("<strong><i>mobile app</i></strong.",{delay: 1500})
                .go()
          </script>

          <h2 class="display-2 text-white">All-in-one <mark style="color: #FFC463; background-color: #3E79F1">passwordless</mark> platform</h2>
        </div>
      </div>
      <div class="row">
        <div class="floating-box">

        </div>
      </div>
    </div>
  </div>
</header>
