{% include /components/headers/header-1.html %}

<div class="section features-3 my-5 fullWidth" style="background-image: url(' {{ '/assets/img/ill/p31.svg' | relative_url }}')">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-lg-8">
        <h3 class="display-3 text-white">At idemeum<span class="text-success"> we are on a mission to</span></h3>
        <p class="lead text-white">Empower people and businesses to be in control of their digital identity and make online interactions safer.</p>
      </div>
    </div>
    </div>
    </div>

{% include /components/features/feature-1.html %}

{% include /components/features/feature-4.html %}
