<head>
  <style>
  .myimg {
    object-fit: cover;
    width: 100%;
    height: 450px;
}
</style>
</head>
<div class="contactus-3 fullWidth">
    <div class="page-header">
        <img class="bg-image" src="{{ '/assets/img/contact-background.jpg' | relative_url }}" alt="" class="myimg">
    </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-5">
        <h1 class="display-1">Got a question?</h1>
        <h3 class="lead">We'd like to talk more about what you need</h3>
        <button class="btn btn-icon btn-primary mt-3" type="button">
          <span class="btn-inner--icon"><i class="ni ni-chat-round"></i></span>
          <span class="btn-inner--text"><a class="text-white" href='#contact'>Chat with us</a></span>
        </button>
      </div>
    </div>
  </div>
</div>
