<div class="section fullWidth">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <p>01</p>
              <h2 class="text-primary">Decentralized</h2>
              <p> We built idemeum with the goal to give people the power to control and own their digital identity.</p>
              <p>We designed idemeum to provide <span class="text-default"><strong>100% privacy</strong></span>. It means that we do not store any of the user identifiable information in our backend.</p>
              <p>Digital identity and all related claims are safely and securely stored on a mobile device. Users can decide what to do with this information and who to share it with.</p>
            </div>
            <div class="col-lg-6">
              <div class="image-container">
                <img src="./assets/img/landing/decentralized.png" alt="Decentralized platform">
              </div>
            </div>
          </div>
        </div>
</div>
