<div class="section fullWidth">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <p>03</p>
              <h2 class="text-primary">Mobile</h2>
              <p>idemeum offers an opportunity to always have your digital identity at your fingertips.</p>
              <p>When your mobile phone becomes your digital identity you can take it with you to any new job you have, you can use it at any online resource, and you can prove who you are without disclosing more information than you need.</p>
              <p>idemeum makes digital identity simple, convenient, and frictionless.</p>
            </div>
            <div class="col-lg-6">
              <div class="image-container">
                <img src="./assets/img/landing/mobile.png" alt="Decentralized platform">
              </div>
            </div>
          </div>
        </div>
</div>
