<div class="section features-6 bg-secondary fullWidth">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-10 mb-md-5">
              <div class="image-container">
                <img src="./assets/img/landing/complexity.jpg">
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="section-description">
                <h1 class="display-4">Tired of identity complexity?<span class="text-primary">idemeum provides one stop shop solution</span></h1>
                <p class="lead">We provide an identity solution to replace them all: passwords, tokens, magic links, certificates, and MFA.<br><br> Moreover, you can accelerate your Zero-Trust journey by deploying idemeum and embracing passwordless.</p>
                {% include /landing-page/overload-dropdown.html %}
              </div>
            </div>
          </div>
        </div>
</div>
