
<div class="accordion-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto">
        <div class="accordion my-3" id="accordionExample">
          <div class="card">
            <div class="card-header bg-secondary" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Omni-channel identity
                  <i class="ni ni-bold-down float-right"></i>
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body opacity-8 bg-secondary">
                idemeum provides simple, unified, and cross platform experience for your users.<br><br>Desktop? Mobile? We got it all covered.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header bg-secondary" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Fast deployment
                  <i class="ni ni-bold-down float-right"></i>
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body opacity-8 bg-secondary">
                Deploy idemeum in under and hour. Just connect to your identity provider. <br><br>
                No connectors, no user syns, no additional servers. We made it simple. 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
