
<div class="section features-6 fullWidth">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-10 mb-md-5">
              <h1 class="display-4">Tired of passwords?<span class="text-primary"> We eliminate passwords end to end</span></h1>
              <p class="lead">We will help you eliminate passwords 100% - not just for authentication, but also for onboarding. We cover whole password lifecycle.</p>
              {% include /landing-page/passwordless-dropdown.html %}
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="image-container">
                <img src="./assets/img/landing/passwords.png" alt="">
              </div>
            </div>
          </div>
        </div>
</div>
