
<div class="accordion-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto">
        <div class="accordion my-3" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Risks
                  <i class="ni ni-bold-down float-right"></i>
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body opacity-8">
                <strong>2.3B</strong> credentials stolen in 2017 alone (Shape Security).<br><br>
                Passwords are very easy to phish, steal, or compromise.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Costs
                  <i class="ni ni-bold-down float-right"></i>

                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body opacity-8">
                <strong>$14.7B</strong> in losses due to fraud in 2019 (Javelin 2019 Identity Fraud Study).
                <br> <br>
                <strong>$70</strong> is the average cost for a password reset (Okta).
                <br><br>
                <strong>24 hours</strong> is the average time employee spends on logins per year (Verizon Data Breach Report, 2019).
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  User experience
                  <i class="ni ni-bold-down float-right"></i>

                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body opacity-8">
                <strong>51%</strong> of people dislike remembering yet another password.
                <br><br>
                <strong>80%</strong> of workers reported being fed up with using passwords (Online Registration and Password Study).
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
