<div class="section features-6 fullWidth">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-10 mb-md-5">
              <h1 class="display-4">Concerned about privacy?<span class="text-primary">idemeum enables 100% privacy</span></h1>
              <p class="lead">idemeum is a decentralized platform, meaning all sensitive user information is stored on users' devices. We have zero PII in our backend.<br><br>Yes, you got that right - we do not store any user identifiable information in our backend. <br><br> Read more about <a href="./blog/about-privacy">how we do it.</a></p>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="image-container">
                <img src="./assets/img/landing/privacy.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
</div>
