<div class="section fullWidth bg-secondary">
  <div class="container">

    <p>04</p>
    <h2 class="text-primary">Set up idemeum</h2>
    <p>idemeum is very intuitive and simple to set up. The process is really 1-2-3.</p>


    <div class="row">
      <div class="col-sm d-flex align-items-stretch">


        <div class="card">
          <img class="card-img-top" src="./assets/img/landing/download.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="text-default">Download app</h5>
            <p class="card-text">Download idemeum app from an app store and install it on your mobile device.</p>
          </div>
        </div>


      </div>
      <div class="col-sm d-flex align-items-stretch">


        <div class="card">
          <img class="card-img-top" src="./assets/img/landing/profile.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="text-default">Create profile</h5>
            <p class="card-text">Create your profile by following the instructions in idemeum application.</p>
          </div>
        </div>




      </div>
      <div class="col-sm d-flex align-items-stretch">

        <div class="card">
          <img class="card-img-top" src="./assets/img/landing/verify.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="text-default">Verify claims</h5>
            <p class="card-text">Verify digital identity claims such as phone number or driver's license.</p>
          </div>
        </div>





      </div>
    </div>
  </div>

</div>
