
<div class="accordion-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto">
        <div class="accordion my-3" id="accordionExample">
          <div class="card">
            <div class="card-header bg-secondary" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  COVID fraud
                  <i class="ni ni-bold-down float-right"></i>
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body opacity-8 bg-secondary">
                <strong>600%</strong> increase in phishing attacks due to COVID-19 (Info Security Magazine).
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header bg-secondary" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Financial impact
                  <i class="ni ni-bold-down float-right"></i>

                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body opacity-8 bg-secondary">
                <strong>$1.9B</strong> is total fraud loss in 2019 (Consumer Sentinel Data).
                <br> <br>
                <strong>88%</strong> growth in new credit card account fraud (Consumer Sentinel Data).
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
