<div class="section fullWidth">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="image-container">
                <img src="./assets/img/landing/verified.png" alt="Decentralized platform">
              </div>
            </div>
            <div class="col-lg-6">
              <p>02</p>
              <h2 class="text-primary">Verified</h2>
              <p>Trust is fundamental in the online world. Especially in the new normal where everything is remote and virtual.</p>
              <p>We designed idemeum to verify person's digital identity and all associated claims. We make sure people are who they say they are.</p>
              <p>With the power of idemeum app everyone can decide what information they want to verify and add to idemeum profile.</p>
            </div>
          </div>
        </div>
</div>
