<div class="section features-1">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <span class="badge badge-primary badge-pill mb-3">Unlike any other solution</span>
          <h3 class="display-3">idemeum differentiation</h3>
          <p class="lead">idemeum takes a radically new approach to managing digital identities</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h6 class="info-title text-uppercase text-primary">True passwordless</h6>
            <p class="description opacity-8">idemeum is passwordless end to end. Period. No more passwords, one time tokens, or magic links for enrollment and authentication.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
              <i class="ni ni-atom"></i>
            </div>
            <h6 class="info-title text-uppercase text-success">Decentralized</h6>
            <p class="description opacity-8">idemeum is built for people with privacy in mind. Users own their identity. We have zero user identifiable information in our cloud. </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
              <i class="ni ni-world"></i>
            </div>
            <h6 class="info-title text-uppercase text-warning">Verified</h6>
            <p class="description opacity-8">Unlike other solutions that user personal email address for verification, idemeum provides high level of assurance by verifying user bhind the device. Every time. Every login.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h6 class="info-title text-uppercase text-primary">Mobile first</h6>
            <p class="description opacity-8">One solution to replace them all - passwords, certificates, MFA, and tokens. Seamless experience across desktop and mobile. We cover it all. </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
              <i class="ni ni-atom"></i>
            </div>
            <h6 class="info-title text-uppercase text-success">Easy to deploy</h6>
            <p class="description opacity-8">idemeum is easy to deploy - no users to sync, no connectors to install, no additional servers. Just connect to your primary IDP. </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
              <i class="ni ni-world"></i>
            </div>
            <h6 class="info-title text-uppercase text-warning">Secure</h6>
            <p class="description opacity-8">Built on top of modern protocols including FIDO2, OIDC, and DID. idemeum is multi-factor by default - something you are and something you have.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
